<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Haitta-</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>はいったー</h1>
    <div class="contents">
      <form action="/" method="POST">
        <input class="search_bar" type="text" name="name" placeholder = "twitterID">
        <input class="button" type="submit" value="検索する">
      </form>

      <h2>Results</h2>

      <div class="box">
        {% if account_li | length > 0 %}
          <h2>{{user_result}}の検索結果</h2>
        {% endif %}
        {% for Account in account_li %}
          {% set tweets = api.user_timeline(Account, count=5, page=1) %}
          {% for tweet in tweets %}
            <ul>
              <li class="user_name">User : {{ tweet.user.screen_name }}</li>
              <li>Tweet_id: {{tweet.id}}</li>
              <li>Date : {{ tweet.created_at }}</li>
              <li>Contents :  {{ tweet.text }}</li>
              <li><a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}" target="_blank" rel="noopener noreferrer">返信</a></li>
            </ul>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    
  </div>
</body>
</html>